
<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="formGroup">
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="(firstName?.invalid && firstName?.touched) || (country?.touched && firstName?.value.length!=0 && (firstName?.invalid))"  class="alert alert-warning">
                                    <div *ngIf="firstName?.errors!['required'] || firstName?.errors!['OnlyWhitespace']">
                                        First name required
                                    </div>

                                    <div *ngIf="firstName?.errors!['minlength']">
                                        Minimum length is 2
                                    </div>

                                    
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="(lastName?.invalid && lastName?.touched) || (lastName?.touched && lastName?.value.length!=0 && (lastName?.invalid))"  class="alert alert-warning">
                                    <div *ngIf="lastName?.errors!['required'] || lastName?.errors!['OnlyWhitespace']">
                                        Last name required
                                    </div>

                                    <div *ngIf="lastName?.errors!['minlength']">
                                        Minimum length is 2
                                    </div>

                                    
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="(email?.invalid &&  email?.touched) || (email?.touched && email?.value.length!=0 && (email?.invalid))"  class="alert alert-warning">
                                    <div *ngIf="email?.errors!['required'] || email?.errors!['OnlyWhitespace']">
                                        Email required.
                                    </div>

                                    <div *ngIf="email?.errors!['pattern']">
                                        Email is not in the right format.
                                    </div>

                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="setState()" >
                                    <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
                                    
                                </select>
                                <div *ngIf="(country?.invalid &&  country?.touched) || (country?.touched && country?.value.length!=0 && (country?.invalid))"  class="alert alert-warning">
                                    <div *ngIf="country?.errors!['required']">
                                        Country required.
                                    </div>

                                    
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" >
                                    <option *ngFor="let state of states" [value]="state.name">
                                        {{state.name}}
                                    </option>
                                </select>

                                <div *ngIf="(state?.invalid &&  state?.touched) || (state?.touched && state?.value.length!=0 && (state?.invalid))"  class="alert alert-warning">
                                    <div *ngIf="state?.errors!['required']">
                                        City required.
                                    </div>

                                    
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="(street?.invalid &&  street?.touched) || (street?.touched && street?.value.length!=0 && (street?.invalid))"  class="alert alert-warning">
                                    <div *ngIf="street?.errors!['required'] || street?.errors!['OnlyWhitespace']">
                                        Street required
                                    </div>

                                    <div *ngIf="street?.errors!['minlength']">
                                        Minimum length is 2
                                    </div>

                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="(zipCode?.invalid &&  zipCode?.touched) || (zipCode?.touched && zipCode?.value.length!=0 && (zipCode?.invalid))"  class="alert alert-warning">
                                <div *ngIf="zipCode?.errors!['required'] || zipCode?.errors!['OnlyWhitespace']">
                                    Zip code required
                                </div>

                                <div *ngIf="zipCode?.errors!['minlength'] || zipCode?.errors!['maxlength']">
                                    Enter zip code of length: 3
                                </div>
                                </div>

                                
                            </div>

                            </div>
                        </div>
                    </div>
                

                <div formGroupName="creditCard" class="form-area">
                    <h3>Card details</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Card Type</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option value="visa">Visa</option>
                                    <option value="master card">Master Card</option>
                                    <option value="amex">Amex</option>
                                    <option value="discover">Discover</option>
                                </select>


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Card Holder</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardHolder" type="text">
                                <div *ngIf="(cardHolder?.errors!=null) && ( cardHolder?.touched) && cardHolder?.value.length!=0"  class="alert alert-warning">
                                    <div *ngIf="cardHolder?.errors!['required'] || cardHolder?.errors!['OnlyWhitespace']">
                                        Card holder required
                                    </div>
    
                                    <div *ngIf="cardHolder?.errors!['minlength']">
                                        Minimum length: 3
                                    </div>
                                    </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Card Number</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div *ngIf="(cardNumber?.errors!=null) && ( cardNumber?.touched) && cardNumber?.value.length!=0"  class="alert alert-warning">
                                    <div *ngIf="cardNumber?.errors!['required'] || cardNumber?.errors!['OnlyWhitespace']">
                                        Card Number required
                                    </div>
    
                                    <div *ngIf="cardNumber?.errors!['minlength'] || cardNumber?.errors!['maxlength']  ">
                                        card number length: 16
                                    </div>

                                    <div *ngIf="cardNumber?.errors!['pattern'] ">
                                        Only numbers please
                                    </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Security Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="(securityCode?.errors!=null) && ( securityCode?.touched) && securityCode?.value.length!=0"  class="alert alert-warning">
                                    <div *ngIf="securityCode?.errors!['required'] || securityCode?.errors!['OnlyWhitespace']">
                                        Security code required
                                    </div>
    
                                    <div *ngIf="securityCode?.errors!['minlength'] || securityCode?.errors!['maxlength']  ">
                                        Security code length: 3
                                    </div>

                                    <div *ngIf="securityCode?.errors!['pattern'] ">
                                        Only numbers please
                                    </div>
                                    </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                    
                        <div class="col-md-2">
                            <label>Expiry Year</label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-space">
                                <select formControlName="expiryYear" (change)="handleMonthsYears()" >
                                    
                                    <option *ngFor="let year of years" [value]="year">
                                        {{year}}
                                    </option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Expiry month:</label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-space">
                                <select formControlName="expiryMonth" >
                                   
                                    <option *ngFor="let month of months">
                                        {{month}}
                                    </option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

                <table class="form-area">
                    <thead>
                        <tr>
                            <th width="20%" style="justify-content: center;">Item</th>
                            <th width="20%" style="justify-content: center;">Price </th>
                            <th width="50%" style="justify-content: center;">Quantity</th>
                            <th width="40%" style="justify-content: center;">Total price</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of books">
                        <tr>
                            <td><img src="{{item.image_url}}" class="img-responsive">
                            <br><b>{{item.name}}</b>
                            <br>
                            </td>
                            <td ><div style="justify-content: center;">{{item.price | currency:'USD'}}</div></td>
                            <td><div style="justify-content: center;">{{item.quantity}}</div></td>
                            <td><div style="justify-content: center;">{{item.price*item.quantity}}</div></td>
                        </tr>
                        <div style="padding-bottom: 5px;"></div>
                    </tbody>
                </table>

                <div class="text-center">
                    <button type="submit" class="btn btn-info" (click)="onSubmit()">Purchase</button>
                </div>
            </form>
</div></div></div>
