<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <table class="table table-bordered">
                <thead>
                    <th width="20%">Book Image</th>
                    <th width="50%">Book detail</th>
                    <th width="30%"></th>
                </thead>
                
                    <tr *ngFor="let i of cartItems">
                        <td><img src={{i.image_url}}></td>
                        <td><p>{{i.name}}</p>
                       <p>{{i.price | currency:'USD'}}</p> 
                    </td>
                    <td>
                        Quantity: {{i.quantity}}<div class="mb-2"></div>
                        Sub-total: {{i.quantity*i.price | currency:'USD'}}
                    </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            Total Quantity: {{itemQuantity}}
                            <div class="mb-2"></div>
                            
                             Shipping: free
                             <div class="mb-2"></div>
                            
                            Total price: {{totalPrice | currency:'USD'}}
                        </td>
                    </tr>
            
            </table>
        </div>    </div>
</div>

