<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <table class="table table-bordered">
                <thead>
                    <th width="20%">Book Image</th>
                    <th width="50%">Book detail</th>
                    <th width="30%"></th>
                </thead>
                <tbody *ngFor="let i of cartItems">
                    <tr>
                        <td><img src={{i.image_url}}></td>
                        <td>{{i.name}}
                        <div class="mb-5"></div>
                        {{i.price | currency:'USD'}}
                    </td>
                    <td>
                        Quantity: {{i.quantity}}
                        <div class="mb-3"></div>
                        Sub-total: {{i.quantity*i.price | currency:'USD'}}
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>    </div>
</div>

