<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="/books">
        <img src="assets/images/logo.png" alt="sciNet"  style="width: 70px; height:auto">
      </a>
    </div>
    <app-menu-list></app-menu-list>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search></app-search>

            <ul class="horizont-list">
           <li><app-user-profile></app-user-profile></li> 
           <li><app-login-button></app-login-button></li>
            <li><app-cart-status></app-cart-status></li>
          </ul>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <!--<book-list></book-list>-->
    <router-outlet></router-outlet>
    
    <footer>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </footer>
  </div>

  <!-- END PAGE CONTAINER-->


	

</div>