<header class="border-b shadow-md p-3 w-full">
  <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
    <img src="assets\images\logo.png" class="max-h-16">
    <nav class="flex gap-3 my-2 uppercase text-xl">
      <a>Home</a>
      <a>Contact</a>
    </nav>
    <div class="flex gap-3 align-middle">
      <app-cart-status></app-cart-status>
      <button mat-stroked-button>Login</button>
    </div>
  </div>
</header>

<div class="container w-full mt-4">
  <router-outlet></router-outlet>
</div>



