
@if(book!=null){
<section class="py-8">
<div class="max-w-screen-2xl px-4 mx-auto">
    <div class="grid grid-cols-2 gap-8">
        <div class="max-w-xl mx-auto">
            <img class="w-96 h-96" src="{{book.image_url}}">
        </div>
        <div>
            <h1 class="text-2xl font-semibold text-gray-900">
                {{book.name}}
            </h1>
            <div class="mt-2 items-center gap-4 flex">
                <p class="text-3xl font-extrabold text-gray-900">
                    {{book.price | currency}}
                </p>
            </div>
             <div class="flex gap-4 mt-2 mb-3">
          <mat-card-actions *ngIf="!book.selected; else gocart">
                        <!--<div class="light-font"  >{{book.date_launched | date:'dd/MM/yyyy'}}</div>-->
                      
                        <button mat-stroked-button (click)="addToCart(book)" class="w-full flex modern-btn mt-2 "> 
                            <mat-icon>add_shopping_cart</mat-icon >Add to cart</button> </mat-card-actions>
                                <ng-template #gocart>
                                    <mat-card-actions><button mat-stroked-button (click)="redirectToCartDetails()" class="w-full modern-btn mt-2 "> 
                            <mat-icon>shopping_cart</mat-icon >Go to cart</button></mat-card-actions></ng-template>
        
    </div>
    <mat-divider></mat-divider>
    <p class="mb-6 text-gray-500">
        {{book.description}}
    </p>
        </div>
    </div>
</div>
</section>
}




