<div class="flex flex-col gap-2">
    <div class="flex justify-between">
        
            <app-search></app-search>
       
        <div class="flex gap-3">
             <button matTooltip="filer based on subject"  matTooltipPosition="above" [matTooltipShowDelay]="1000"
             mat-stroked-button  (click)="openDialog()">
            <mat-icon>filter_list</mat-icon>
            Filter
        </button>
        </div>
       
    </div>
    <div class="grid grid-cols-5 gap-3">
    <div *ngFor="let book of Books">
                    <mat-card appearance="raised"  class="w-52 h-72">
                       
                             <a routerLink="/book/{{book.id}}"><img [matTooltipShowDelay]="1000" matTooltip="click to see details" src={{book.image_url}} alt="jalvis" class="img-responsive h-36"></a>
                        
                        
                        
                       <mat-card-content ><div class="h-16 "> <h6 class="text-sm font-semibold uppercase leading-snug">{{book.name}}</h6>
                        <p class="font-light leading-tight m-0">{{book.price | currency}}</p></div>
                    
                    </mat-card-content>
                       <mat-card-actions *ngIf="!book.selected; else gocart">
                        <!--<div class="light-font"  >{{book.date_launched | date:'dd/MM/yyyy'}}</div>-->
                      
                        <button mat-stroked-button (click)="addToCart(book)" class="w-full modern-btn mt-3 "> 
                            <mat-icon>add_shopping_cart</mat-icon >Add to cart</button> </mat-card-actions>
                                <ng-template #gocart>
                                    <mat-card-actions><button mat-stroked-button (click)="redirectToCartDetails()" class="w-full modern-btn mt-3 "> 
                            <mat-icon>shopping_cart</mat-icon >Go to cart</button></mat-card-actions></ng-template>
                    </mat-card>
                
                </div>

</div>
<div class="flex justify-end">
<mat-paginator class= "bg-white w-auto h-4" (page)="handlePaginator($event)" [length]="totalElements" [pageSize]="pageSize" 
        [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageNum" aria-label="select page">

        </mat-paginator>
</div>
</div>

